/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.*_history

# rspec failure tracking
.rspec_status

# local setup
.ruby-version
Gemfile.lock
gemfiles/*.lock
gemfiles/.bundle/*
squake-*.gem
