---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.squake.earth/v2/products/product_026c41?locale=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Squake-Request-Id:
      - req_sandbox_99f91493-84ff-45b9-88b0-ac1ed68aaef0
      Etag:
      - W/"a703a334d30c76702fcea370b3f850b5"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"product_026c41","title":"Water Filtration and Improved Cook
        Stoves in Guatemala","description":"The project distributes water filters
        and stoves that enable access to clean water and improved cooking conditions
        while increasing fuel efficiency and reducing unhealthy air pollution. Less
        fuel is needed and filters make it obsolete to boil water before drinking
        lowering the pressure on forests.","locations":[{"country":"GT"}],"categories":[{"code":"clean_water","title":"Clean
        Water"}],"certifications":["Gold Standard VER"],"sdgs":[1,3,6,7,8,12,13,15],"files":[],"prices":{"id":"price_e1bb29","product":"product_026c41","unit_amount":1006,"valid_from":"2023-09-11","carbon_unit":"tonne","currency":"EUR"}}'
  recorded_at: Tue, 12 Sep 2023 15:21:03 GMT
recorded_with: VCR 6.2.0
