---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.squake.earth/v2/pricing?carbon_quantity=1000&carbon_unit=kilogram&currency=EUR&product=invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Squake-Request-Id:
      - req_sandbox_9db75fe6-a3d3-453f-a078-0631a631f3cf
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"no_price_found","detail":null,"source":null}]}'
  recorded_at: Fri, 20 Oct 2023 18:08:50 GMT
recorded_with: VCR 6.2.0
