---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.squake.earth/v2/pricing?carbon_quantity=1000&carbon_unit=kilogram&currency=EUR&expand=%5B%5D&product=invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Squake-Request-Id:
      - req_sandbox_24a47510-fe3d-4e1d-a8a7-67613e8489cb
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"no_price_found","detail":null,"source":null}]}'
  recorded_at: Tue, 17 Oct 2023 10:51:39 GMT
recorded_with: VCR 6.2.0
