---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.squake.earth/v2/pricing?carbon_unit=gram&currency=EUR&fixed_total=1000&product=invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Squake-Request-Id:
      - req_sandbox_825b2bee-d2db-4815-9250-fa42af748ccb
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"no_price_found","detail":null,"source":null}]}'
  recorded_at: Fri, 20 Oct 2023 18:08:51 GMT
recorded_with: VCR 6.2.0
