---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.squake.earth/v2/pricing?carbon_unit=gram&currency=EUR&expand=%5B%5D&fixed_total=1000&product=invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Squake-Request-Id:
      - req_sandbox_db29992f-4875-4963-8800-f315b6b25601
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"no_price_found","detail":null,"source":null}]}'
  recorded_at: Tue, 17 Oct 2023 10:51:40 GMT
recorded_with: VCR 6.2.0
